body {
    margin: 0;
}

@media screen and (min-width: 1800px) {
    body {
        display: grid;
    }
}

img {
    height: auto;
    display: block;
    max-width: 100%;
}

main {
    width: 1200px;
    margin: 0 auto;
}